*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* [Header]Nav bar */

.cont-header{
    display: flex;
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    background-color: orange;
    padding: 10px;
    border: 1px dashed;
}

.cont-header div:first-child{
    flex-grow: 1;
}

.cont-header div:nth-child(2){
    flex-grow: 5;
    text-align: center;
}

.cont-header div:last-child{
    flex-grow: 1;
    text-align: right;
}

.bg-aqua{
    background-color: aqua;
}

/* [Main] Cont Background */

.cont-bg{
    width: 1200px;
    height: calc(100vh - 70px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-box{
    background-color: plum;
    width: 75%;
    height: 85%;
    border: 1px dashed;
}

.bg-blue{
    background-color: blue;
}

/* Cont box-1 */

.cont-box{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    width: 100%;
    height: 85%;
    border: 1px dashed;
}

.box-pink{
    background-color: pink;
    flex-basis: 70%;
}

.box-azure{
    background-color: skyblue;
    flex-basis: 100%;
}

.cont-box-gr{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-green{
    background-color: green;
    width: 100%;
    height: 90%;
    border: 1px dashed;
}

.bg-gray{
    background-color: lightgrey;
}

/* [Footer] */

.cont-footer{
    padding-top: 10px;
    margin: 0 auto;
    width: 1200px;
    height: calc(100vh - 95px);
    display: flex;
}

.box-footer{
    background-color: palevioletred;
    width: 30%;
    height: 95%;
    border: 1px dashed black;
}

.cont-box-footer{
    display: flex;
    width: 70%;
}

.col-footer{
    background-color: blueviolet;
    width: 100%;
    height: 95%;
    border: 1px dashed white;
}
.border-bottom{
    border-bottom: 1px solid gray;
}

.end-footer{
    background-color: aqua;
    width: 1200px;
    height: 70px;
    margin: 25px auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo,.footer-button{
    padding: 5px;
    border: 1px dashed;
}

.bg-orange{
    background-color: orange;
}
.bg-black{
    background-color: black;
}